<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            Student Task Manager
        </a>

        <div class="navbar-nav">

            <a class="nav-link" href="/">
                Dashboard
            </a>

            <a class="nav-link" href="/students">
                Students
            </a>

            <a class="nav-link" href="/add_student/">
                Add Student
            </a>

            <a class="nav-link" href="/attendance">
                Attendance
            </a>

            <a class="nav-link" href="/attendance_report">
                Attendance Report
            </a>

            <a class="nav-link" href="/attendance_summary">
                Attendance Summary
            </a>

            <a class="nav-link" href="/tasks">
                Tasks
            </a>

            <a class="nav-link" href="/add_task">
                Add Task
            </a>

            <a class="nav-link" href="/assign_task">
                Assign Task
            </a>

            <a class="nav-link" href="/student_tasks">
                Student Tasks
            </a>

            <a class="nav-link" href="/performance_report">
                Performance Report
            </a>

        </div>


        <div class="navbar-nav ms-auto">

            <a class="nav-link text-warning" href="/logout">

                Logout

            </a>

        </div>

    </div>

</nav>