{% extends 'layout.html' %}

{% block content %}

<h2>Mark Attendance</h2>

<form action="/save_attendance" method="POST">
    <label for="student_id">Student:</label>
    <select name="student_id" class="form-control" id="student_id">
        {% for student in students %}
        <option value="{{ student.student_id }}">
            {{ student.first_name }} {{ student.last_name }}
        </option>
        {% endfor %}
    </select>
    <br><br>
    <label for="attendance_status">Attendance Status:</label>
    <select name="attendance_status" class="form-control" id="attendance_status">
        <option value="Present">Present</option>
        <option value="Absent">Absent</option>
    </select>
    <br><br>
    <button type="submit" class="btn btn-primary">Save Attendance</button>
</form>

{% endblock %}