{% extends 'layout.html' %}

{% block content %}

<h2>Task List</h2>

<table class="table table-bordered">

    <thead>

        <tr>
            <th>ID</th>
            <th>Task Name</th>
            <th>Description</th>
            <th>Maximum Marks</th>
        </tr>

    </thead>

    <tbody>

        {% for task in tasks %}

        <tr>

            <td>{{ task.task_id }}</td>
            <td>{{ task.task_name }}</td>
            <td>{{ task.task_description }}</td>
            <td>{{ task.maximum_marks }}</td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}